@import "tailwindcss";


.validate-error-message {
	@apply text-red-600 text-xs uppercase text-center mt-1;
}

.button-primary {
	@apply w-full flex justify-center items-center gap-2 py-2 rounded-xl font-medium text-white transition-all text-lg bg-green-600 hover:bg-green-700 active:bg-green-800 cursor-pointer;
}

.long-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* -------- Calendar ---------- */

.react-calendar {
  border: none !important;
  font-family: inherit;
}

.react-calendar__tile:hover {
  background-color: #e5f6eb !important;
  border-radius: 10px;
}

.highlight-day {
  background-color: #00B7B5 !important;
  color: white !important;
  border-radius: 10px;
  font-weight: 600;
}

.react-calendar__tile--active {
  background: black !important;
  background: transparent !important;
  color: white !important;
  color: inherit !important;
  border-radius: 10px;
}

.react-calendar__tile--active:hover {
  background: #39be6c !important;
}

.react-calendar__tile--now {
  /* background: transparent !important; */
  background: #FF3838 !important;
  color: white !important;
  border-radius: 10px;
}
